.main {
  position: relative;
  .main-banner {
    padding-top: 30px;
  }
  .main-month {
    position: absolute;
    left: 0px;
  }
  .main-bottom {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vw 2.8%;
  }
}
