.main {
  padding-bottom: 150px;
  width: 77vw;
  margin: 0 auto;
  position: relative;
  .main-banner {
    padding-top: 30px;
  }
  .main-month {
    position: absolute;
    left: 0px;
  }
  .main-bottom {
    padding: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vw 2.8%;
  }
}
