@import "../../styles/common.scss";

footer {
  background-color: $main-green;
  position: relative;
  bottom: 0px;
  width: 100vw;
  .footer-tit {
    padding: 30px 0px 20px 0px;
    width: 75vw;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: white;
    .footer-left {
      .footer-left-name {
        font-weight: 500;
      }
      .footer-left-call {
        font-size: 15px;
        padding-top: 18px;
      }
      .footer-left-mail {
        font-size: 15px;
        padding-top: 10px;
      }
      .footer-left-admin {
        font-size: 13px;
        padding-top: 25px;
        text-decoration: underline;
      }
    }
  }
  .footer-right{
    img{
        position: relative;
        top: 110px;
    }
  }
}
