@import "../../styles/common.scss";
.banner {
  display: flex;
  justify-content: center;
}
.banner-tit {
  position: relative;
  width: 77vw;
  .banner--image {
    min-height: 100px;
    display: flex;
    height: 20vh;
    border-radius: 30px;
    width: 100%;
    object-fit: cover;
  }
}

.swiper-pagination {
  position: relative;
  padding-top: 10px;
}
.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: lightgray;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  width: 30px;
  transition: width 0.5s;
  border-radius: 5px;
  background: $main-green;
}
